{% extends 'base.html' %}
{% block content %}
	<h1>Previous Records</h1>
	<div class="prescriptions">
		{% if user.is_authenticated %}
			{%if request.user == prescriptions.username %}
				<div class="prescription">
					<h1><p>{{prescriptions.record}}</p></h1>
					<p>{{prescription.username}}</p>
					<p>{{text}}</p>
						<!-- <p>{{prescriptions}}</p> -->
				</div>
			{% endif %}
		{% endif %}
	</div>
	<div class="back">
			<form class="back_form" action="{% url 'prescription:list'  %}" method="post">
				{% csrf_token %}
				<input type="submit" class="btn btn-primary" value="Go Back">
			</form>
	</div>
{% endblock %}