{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	{% if user.is_authenticated %}
		<h1>Upload new Prescription</h1>
		<div class="create-prescription">
			<form class="site-form" action="{% url 'prescription:upload' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{form|crispy}}
				<input type="submit" class="btn btn-primary" value="Upload">
			</form>
		</div>
		<br>
		<div class="back">
			<form class="back_form" action="{% url 'prescription:list'  %}" method="post">
				{% csrf_token %}
				<input type="submit" class="btn btn-primary" value="Go Back">
			</form>
	</div>

	{% endif %}
{% endblock %}

